body {
    background-color:rgb(113, 189, 247);
}


form > * {
    display:block;
}

input {
    margin-bottom: 12px;
}

h3 {
    margin-top: 50px;
}

h2 {
    margin-top: 50px;
}

#complimentButton {
    margin-top: 40px
}
